.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  width: 100%;
  background-color: lightsteelblue;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.Title {
  font-size: 24px;
  margin-right: auto;
}

.Menu-group {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: right;
}
 
.Menu-item {
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

.Vote-player {
  padding: 15px;
}

.Vote-button {
  background-color: lightyellow;
  border: solid 1px #999;
  padding: 10px;
}

.Vote-button:hover {
  background-color: lightgoldenrodyellow;
}

.Stat-line {
  display: flex;
}

.Stat-cell {
  display: flex;
  border: solid 1px #999;
  width: 65px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.Stat-year {
  height: 43px;
}

.Stat-header {
  width: 266px;
  border: solid 1px #999;
  background-color: wheat;
}

.App-link {
  color: #61dafb;
}

.Link {
  padding-left: 5px;
  padding-right:5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
